.jumbotron-header {
    background-color: #62BB96;
    color: white;
}

.add-listing {
    padding: 10px;
    margin: 5px;
    background-color: #62BB96;
    color: white;
    border-style: none;
    border-radius: 5px;
}

.pendingOffer {
    padding: 15px;
    margin: 10px;
    border-style: solid;
    border-color: #62BB96;
    border-radius: 10px;
    width: auto;
    display: inline-block;
}

.pendingOffersHeader {
    margin: 20px 10px 5px 10px;
    font-size: 24pt;
}

.buttonAccept {
    margin-right: 20px;
    margin-left: 20px;
    background-color: #ADD8E6;
    border-style: none;
    padding: 5px;
    border-radius: 5px;
}

.buttonDecline {
    margin-right: 10px;
    margin-left: 5px;
    background-color: #FFCCCB;
    border-style: none;
    padding: 5px;
    border-radius: 5px;
}